* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* with this all font will be 10px */
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    background-image: url('../images/squares_bg.png');
    width: 1100px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #777;
}
